h1,
h2 {
  font-family: Lato;
}
.container {
  display: inline-grid;
  grid-template-columns: 150px 150px;
  grid-template-rows: 150px 150px;
  grid-gap: 5px;
}
.area2 {
  background: rgba(255, 0, 0, 0.2);
}
svg {
  width: 100%;
  height: 100%;
  overflow: visible;
  z-index: 0;
  background: rgba(0, 255, 0, 0.3);
}
.active {
  stroke: black;
  stroke-width: 2;
}
.one {
  z-index: 100;
}
.two {
  z-index: 10;
}
