<section class="container">
  <nb-layout>
    <nb-layout-header fixed>Company Name</nb-layout-header>

    <nb-sidebar>Sidebar Content</nb-sidebar>

    <nb-layout-column>
      <nb-card>
        <app-d3-test></app-d3-test>
        <!-- <div class="example-boundary">
          <app-box #startingElement>Starting Element</app-box>
          <br>
          <br>
          <br>
          <app-box #endingElement>Ending Element</app-box>
        </div> -->
      </nb-card>
    </nb-layout-column>
  </nb-layout>
</section>
